@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@100;400&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    width: 100%;
    background-color: black;
    font-family: 'Quattrocento', 'cursive';
    border-bottom: white solid 1px;

}

.logo a{
    color: white;
    font-size: 3em;
    margin-left: 20px;
    text-decoration: none;
    
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 5%;
    
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;

}
nav a:hover{
    color: red;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 45px;
    height: 5px;
    background-color: white;
    margin: 5px;
}


  

@media screen and (max-width:1200px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        z-index: 5;
        right: 0px;
        height: 85vh;
        top: 15vh;
        background-color: rgba(0, 0, 0, 0.918);
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        align-items: center;
        transform: translateY(-200%);
        transition: transform 0.5s ease-in;
        
    }



    .burger{
        display: block;
    }
    nav{
        justify-content: space-around;
    }


}

.nav-active{
    transform: translateY(0);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-6px,9px);

}
.toggle .line2{
    opacity: 0;
    
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-6px,-7px);

    
}
    
@media only screen and (max-width : 768px) {
    .logo a{
        font-size: 2em;
    }
}